a{
    margin: 5px;
    color: green;
    border-radius: 5px;
    text-decoration:none;
    height: 100%;
    padding: 10px;
    font-weight: bold;
}

a:hover{
    background-color: greenyellow;
    transition: 0.5s;
}

h1{
    color: green;
}

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(184, 224, 137);
    align-items: center;
}

img{
    width: 5%;
    background-color: green;
}

.nav-cart {
    display: flex;
    align-items: center;
  }