nav a.link:hover {
    background-color: greenyellow;
    transition: 0.5s;
}

.navBar h1 {
    color: rgb(37, 175, 91);
    float: left;
    padding: 1% 0px 1%;
}

.navBar {
    overflow: hidden;
    background-color: rgb(52 96 0);
    padding: 5px 10px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navBar a {
    float: left;
    color: black;
    text-align: center;
    padding: 1% 10px 1%;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    color: rgb(37, 175, 91);
}

a img {
    height: 70px;
    width: auto;
    padding: 0;
}

.cart {
    width: 100px;
    float: left;
}

.cart>a {
    display: flex;
    text-decoration: none;
    margin-left: auto;
    padding: 0;
}

.cart>a>h2 {
    margin: 5px;
    color: #2e7d32;
}

.menuElements {
    float: right;
    color: rgb(37, 175, 91);
    padding: 2.5% 0px 2.5%;
    font-weight: bold;
}

.menuElements a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

@media screen and (max-width: 1100px) {
    nav a {
        float: none;
        display: block;
        text-align: left;
    }

    .menuElements {
        float: none;
    }

    .navBar h1{
        float: none;
    }
}