nav a{
    margin: 5px;
    color: rgb(37,175,91);
    border-radius: 5px;
    text-decoration:none;
    height: 100%;
    padding: 10px;
    font-weight: bold;
}

nav a:hover{
    background-color: greenyellow;
    transition: 0.5s;
}

h1{
    color: rgb(37,175,91);
}

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(52 96 0);
    /*background-color: rgb(43 148 91);*/
    align-items: center;
}

a img{
    width: 14%;
    padding: 10px;
}

.nav-cart {
    display: flex;
    align-items: center;
  }